body {
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
    font-family:Verdana;
    background: linear-gradient(90deg, #2193b0 0%, rgba(109,213,237,1) 51%);
    
}

.page-container {
    width: 50rem;
    padding: 3rem;
    padding-top: 1rem;
    margin: 1rem auto;
    margin-bottom: 0;
    border-radius: 0.5rem;
}

.card {
    position:relative;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    min-height: 15vh;
    border-radius: 10px;
    padding: 2% 5% 
}

.card.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(resources/patternthree.jpg);
    min-height: 20vh;
}

.card-body h2{
    color: white;
    background-color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
}

.card.color-top{
    border-top-style: solid;
    border-top-width: 15px;
    border-top-color: rgb(0, 0, 0);
}

.obligatorio{
    color: red;
}

.card.form{
    min-height: 12vh;
}

.input-text{
    border: none;
    border-bottom: 2px solid grey;
    font-size: 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 1s ease-in-out;
}

.button{
    border: none;
    color: grey;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color:rgb(33,147,176);
    color: white;
}

.small{
    margin-top: -15px;
    margin-bottom: 25px;
    font-size: 12px;
    color: grey;
}

.card.form.text-color-top{
    position: relative;
    border-top-style: solid;
    border-top-width: 35px;
    border-top-color: rgb(0, 0, 0);
}

.text-color-top-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2rem;
    right:0;
    top: -50px;;
    color: rgb(255, 255, 255);
}

::placeholder{
    color:rgba(128, 128, 128, 0.527);
}

.input-radio{
    margin-bottom: 10px;
}