* { padding: 0; margin: 0; }
body {
    font: Arial;
}

html {
    scroll-behavior: smooth;
}

.section {
    background-color: #bbb1a1;
    padding: 2.5rem 15rem;
}

.navbar {
    background-color: black; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    transition: top 0.3s;
    padding: 0px 20rem ;
    z-index: 10000;
}  

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}  

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.personcard {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}


.personcard img {
    height: 200px;
}

.card-person {
    position: absolute;
    left: 0.5rem;
    right:0;
    top: 125px;
}

.card-person.type {
    top: 175px;
}

.card-person.type h5 {
    width: 75px;
    background-color: rgb(0, 159, 180);
    color: white;
}

.card-person img {
    height: auto;
    border-radius: 50px;
}

.personcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: 20px 15px 40px
}

.card-footer {
    padding: 0 15px 5px
}

.column {
    float: left;
    width: 20%;
    height: 25vh;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: white;
    margin-bottom: 200px;
}

.column.small {
    width: 17.5%;
    height: 20vh;
    padding-left: 1.25%;
    padding-right: 1.25%;
    margin-bottom: 150px;
    
}

.column.big {
    width: 45%;
    height: 25vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}

.button{
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #808080;
    
}

.button.big-white{
    padding: 16px 32px;
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.button.big-white:hover{
    background-color: rgba(255, 255, 255, 0.575);
    color: rgba(229,38,30,255);
}

.button:hover {
    color: rgb(170, 170, 170);
}

.personas {
    height: 100vh;

}

.button.blue {
    background-color: rgb(62, 147, 158);
}

.button.blue:hover {
    background-color: rgb(42, 100, 107);
    color: white;
}

.section.main-image {
    position: relative;
    height: 60vh;
    background-color: #9e4040;
    background-position: 0px 0px;
    background-size: auto;
}

.main-img-content {
    position: absolute;
    left: 15%;
    top: auto;
    right: auto;
    bottom: 40%;
    width: 40%;
}

.main-img-buttons {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.section.icons {
    background-color: #f2f2f2;
}

.grid-icons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.svg {
    max-width: 8%;
}

.icon-container-text {
    padding-left: 5%;
}

.grid-persons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.footer {
    background-color: #f2f2f2;
    height: 20vh;
}
.section.main-image {
    position: relative;
    height: 60vh;
    background-color: rgba(229,38,30,255);
    background-position: 0px 0px;
    background-size: auto;
    background-image: url(../img/Webflix_Slider.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-img-content {
    position: absolute;
    left: 15%;
    top: auto;
    right: auto;
    bottom: 40%;
    width: 40%;
}

.main-img-buttons {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.section.icons {
    background-color: hsla(37, 0.00%, 100.00%, 1.00);
}

.grid-icons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.svg {
    max-width: 8%;
}

.icon-container-text {
    padding-left: 5%;
}

.grid-persons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.grid.footer{
    border-top: 1px solid rgba(128, 128, 128, 0.26);
    color: rgba(107, 107, 107, 0.932);
}

.grid.footer a{
    color: rgba(107, 107, 107, 0.932);

}

.grid.footer a:hover{
    color: rgba(229,38,30,255);

}

.section.main-image {
    position: relative;
    height: 60vh;
    background-color: rgba(229,38,30,255);
    background-position: 0px 0px;
    background-size: auto;
    background-image: url(../img/Webflix_Slider.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-img-content {
    position: absolute;
    left: 15%;
    top: auto;
    right: auto;
    bottom: 40%;
    width: 40%;
}

.main-img-buttons {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.section.icons {
    background-color: hsla(37, 0.00%, 100.00%, 1.00);
}

.grid-icons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.svg {
    max-width: 8%;
}

.icon-container-text {
    padding-left: 5%;
}

.grid-persons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.grid.footer{
    border-top: 1px solid rgba(128, 128, 128, 0.26);
    color: rgba(107, 107, 107, 0.932);
}

.grid.footer a{
    color: rgba(107, 107, 107, 0.932);

}

.grid.footer a:hover{
    color: rgba(229,38,30,255);

}

.icon-grey {
    color: #b0b0b0;
    font-size: 54px;
    padding-top: 20px;
}