* { padding: 0; margin: 0; }
body {
    font: Arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

ul a:hover {
    background-color: rgb(206, 18, 18);
    color: white;
}

p {
    font-family: sans-serif;
    font-style: verdana;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(68, 68, 68);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: verdana;
}

li a:hover {
    color: rgb(206, 18, 18);
    background-color: #f2f2f2;
    text-decoration: underline;
}

.button {
    border: none;
    color: white;
    background-color: rgb(206, 18, 18);
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(129, 0, 0);
    color: white;
}

h1 {
    font-family: sans-serif;
    font-style: verdana;
    margin: 0;
}

h2 {
    font-family: sans-serif;
    font-style: verdana;
    font-size: x-large;
    color: #111111;
}

h3 {
    font-family: sans-serif;
    font-style: verdana;
    font-size: x-large;
    color: rgb(68, 68, 68);
}

h4 {
    font-family: sans-serif;
    font-style: verdana;
    font-size: small;
    color: rgb(68, 68, 68);
}

h5 {
    font-family: sans-serif;
    font-style: verdana;
    font-size: smaller;
    color: rgb(68, 68, 68);
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: 8px;
}