    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f2f2f2;
    }

    ul a:hover {
        background-color: rgb(206, 18, 18);
        color: white;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: rgb(68, 68, 68);
        text-align: center;
        padding: 14px 18px;
        text-decoration: none;
        font-family: sans-serif;
        font-style: verdana;
    }

    li a:hover {
        background-color: rgb(206, 18, 18);
        color: white;
    }

    h2 {
        font-family: sans-serif;
        font-style: verdana;
        font-size: x-large;
        margin: 30px;
        color: #f2f2f2;
    }

    h3 {
        font-family: sans-serif;
        font-style: verdana;
        font-size: x-large;
        margin: left;
        color: rgb(68, 68, 68);
    }

    h4 {
        font-family: sans-serif;
        font-style: verdana;
        font-size: small;
        margin: left;
        color: rgb(68, 68, 68);
    }

    h5 {
        font-family: sans-serif;
        font-style: verdana;
        font-size: smaller;
        color: rgb(68, 68, 68);
        padding: 0;
        margin: 0;
        text-decoration: none;
        margin-bottom: 8px;
    }

    .button {
        border: none;
        color: white;
        background-color: rgb(206, 18, 18);
        padding: 15px 32px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button:hover{
        background-color: rgb(129, 0, 0);
        color: white;
    }

    .center {
        margin: 0;
        position: absolute;
        bottom: 10%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn-cat {
        border: none;
        color: rgb(68, 68, 68);
        background-color: rgb(255, 255, 255);
        width: 100%;
        font-family: sans-serif;
        text-align: left;
        display: block;
        font-size: 14px;
        margin: 4px 12px;
        cursor: pointer;
    }

    .btn-cat :hover{
        background-color: rgb(255, 255, 255);
        color: white;

    }

    .cardperson {
        position: 250px;
        box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
    }
    
    .cardperson.type {
        top: 200px;
    }
    
    .cardperson.type h5 {
        width: 200px;
        background-color: rgb(58, 58, 58);
        color: white;
    }

    .cardperson img {
        height: 200px;
        border-radius: 200px;
    }

    .cardcategory {
        position: 250px;
        box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
    }
    
    .cardcategory.type {
        top: 200px;
    }
    
    .cardcategory.type h5 {
        width: 200px;
        background-color: rgb(58, 58, 58);
        color: white;
    }

    .cardcategory img {
        height: 200px;
        border-radius: 0px;
    }